.user-popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-popup-panel {
  background-color: #1e1e1e;
  border-radius: 12px;
  width: 90vw;
  max-width: 400px;
  height: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  color: white;
  box-sizing: border-box;
}

/* Card 1: Tiêu đề */
.user-popup-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  color: white;
  text-align: left;
}

/* Card 2: Ảnh NFT */
.user-popup-image-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
}

.user-popup-image-card:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}
.user-popup-nft-image {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Card 3: Nhập giá và hiển thị tính toán */
.user-popup-input-card {
  border: 1px solid #00b894;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user-popup-nft-name {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
}

.price-input {
  width: 90vw; max-width: 40vw; max-width: 140px;
  padding: 6px 10px;
  font-size: 14px;
  background: #2e2e2e;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
}

.token-dropdown {
  padding: 6px 10px;
  font-size: 14px;
  background: #2e2e2e;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
}

.row-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row-bottom .line {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ccc;
}

/* Card 4: Nút List và Cancel */
.user-popup-action-card {
  display: flex;
  justify-content: space-between;
  /* full width buttons */
  gap: 12px;
}

.user-popup-button {
  flex: 1;
  /* mỗi nút chiếm 50% */
  text-align: center;
  padding: 12px 0;
  /* chỉnh padding nút dài ra */
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.user-popup-button.list {
  background-color: #00b894;
  color: white;
}

.user-popup-button.cancel {
  background-color: #555;
  color: white;
}